<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="/js/storeDataSendAjax.js"></script>
<h3>1. 채널생성</h3>
<div class="col-sm-12">
    <div class="row">
        <div class="col-sm-4">
            <input id="input" placeholder="채널명을 등록.">
        </div>
    </div>
<input value="등록" type="button" onclick="dataSend.js">
<div id="resultDiv">
    <p th:if="${msg}!=null" th:text="${msg}"></p>
</div>
</form>
<br>
</body>
</html>


